<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Extensions.Configuration" version="1.0.0-rc1-final" targetFramework="net46" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="1.0.0-rc1-final" targetFramework="net46" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="1.0.0-rc1-final" targetFramework="net46" />
  <package id="Microsoft.Extensions.Configuration.CommandLine" version="1.0.0-rc1-final" targetFramework="net46" />
  <package id="Microsoft.Extensions.Configuration.EnvironmentVariables" version="1.0.0-rc1-final" targetFramework="net46" />
  <package id="Microsoft.Extensions.Configuration.FileExtensions" version="1.0.0-rc1-final" targetFramework="net46" />
  <package id="Microsoft.Extensions.Configuration.Ini" version="1.0.0-rc1-final" targetFramework="net46" />
  <package id="Microsoft.Extensions.Configuration.Json" version="1.0.0-rc1-final" targetFramework="net46" />
  <package id="Microsoft.Extensions.Configuration.UserSecrets" version="1.0.0-rc1-final" targetFramework="net46" />
  <package id="Microsoft.Extensions.Configuration.Xml" version="1.0.0-rc1-final" targetFramework="net46" />
  <package id="Microsoft.Extensions.Primitives" version="1.0.0-rc1-final" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="8.0.1-beta4" targetFramework="net46" />
</packages>